<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.diagnostics>
    <switches>
      <add name="IPCClient" value="0"/>
      <add name="IncomingMsg" value="0"/>
      <add name="DeviceSetup" value="0"/>
      <add name="DeviceRead" value="0"/>
      <add name="DeviceWrite" value="0"/>
      <add name="App1" value="0"/>
      <add name="App2" value="0"/>
      <add name="App3" value="0"/>
    </switches>
  </system.diagnostics>
  <appSettings>
    <add key="IOPortServerPath" value="" />
  </appSettings>
  <system.runtime.remoting>
    <application>
      <client>
        <wellknown
          type="Newport.Communication.IPCServer, IPCServer"
          url="tcp://localhost:8989/IPCServer"
        />
      </client>
      <channels>
        <channel ref="tcp" port="0">
          <serverProviders>
            <formatter ref="binary" typeFilterLevel="Full" />
          </serverProviders>
        </channel>
      </channels>
    </application>
  </system.runtime.remoting>
</configuration>
